<!-- Meta data content -->

<meta name="author" content='{{ site.author_name }}' />
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="art artist dev" />

<meta name="google-site-verification" content="+n4xH9R0QJteZbUgHujwsGVktn_Y71kNS-V-B8YrQLcc="/>
<meta name="google" content="nositelinkssearchbox" />

<!-- Meta data stuff I should probably delete -->

<meta itemprop="name" content="{{ site.title }}">
<meta itemprop="description" content="{{ page.description }}">
<meta itemprop="image" content="{{ site.meta_image }}">

<meta property="og:url" content="{{ site.url }}">
<meta property="og:type" content="object">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:image:alt" content="{{ site.description }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="{{ site.meta_image }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image:src" content="{{ site.meta_image }}">
