<!-- Site header -->

<div class="header_content">

    <!--
    <div>
        <a class="header_home" href="{{ site.url }}/home">{{ site.title }}</a>
    </div>

    <div id="Menu" class="menu_menu"><a class="header_pad" href="#" style="width: 50%;">Gallery</a><a class="header_pad" href="#" style="width: 50%;">Commissions</a><a class="header_pad" href="#" style="width: 50%;">Code</a><a class="header_pad" href="#" style="width: 50%;">Projects</a></div>
    -->
    <div class="header">
        <div class="center_txt flex"><img class="header_menu" src="{{ site.noise_img }}" onclick="Menu()">
            <a class="header_pad" href="#">Gallery</a>
            <a class="header_pad" href="#">Commissions</a>
        </div>

        <div class="center_txt">
            <a class="header_home" href="{{ site.url }}/home">{{ site.title }}</a>
        </div>

        <div class="center_txt flex">
            <a class="header_pad" href="#">Code</a>
            <a class="header_pad" href="#">Projects</a>
        </div>
    </div>


    </div>
