<!-- Meta data content -->

<!-- Html Meta Tags -->
<meta name="author" content="{{ author.name }}">
<meta name="description" content="{{ site.description }}">
<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{ site.title }}">
<meta itemprop="description" content="{{ site.description }}">
<meta itemprop="image" content="{{ site.meta_image }}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ site.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ site.meta_image }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.meta_image }}">
