<meta name="author" content="Rodrick 'RodFireProductions'">
<!-- url -->
<link rel="canonical" href="https://deadinsideartist.art">
<meta property="og:url" content="https://deadinsideartist.art">
<meta name="twitter:url" content="https://deadinsideartist.art">
<!-- description -->
<meta name="description" content="A small artist and developer just trying to get by.">
<meta property="og:description"	content="A small artist and developer just trying to get by.">
<meta name="twitter:description" content="A small artist and developer just trying to get by.">
<!-- image -->
<meta property="og:image"  content="{{ x.baseURL }}/src/img/misc/meta.png">
<meta name="twitter:image" content="{{ x.baseURL }}/src/img/misc/meta.png">
<!-- misc -->
<meta name="twitter:site" content="@rodfire8181">
<meta name="twitter:creator" content="@rodfire8181">
<meta property="twitter:card" content="summary_large_image">
<meta property="og:type" content="website">
