
/* Home page */

#home_content {
    display: grid;
    grid-auto-flow: column;
}

#persona {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.bio_text {
    display: block;
    padding: 20px;
    transition: none;
}
.bio_text p { text-indent: 2em; }

.home_btn {
    display: grid;
    grid-auto-flow: column;
}
.home_btn button {
    width: auto;
}

/* Link page */
#link_content {
    display: grid;
    grid-auto-flow: row;
}

#persona2 {
    width: 260px;
    display: block;
    margin: 0 auto;
    transform: translate(0, 1.5%);
}

#links {
    display: grid;
    padding: 20px;
}
#links button { width: auto; }

/* Project */

.card {
    padding: 20px;
    color: var(--back-color);
    background-color: var(--text-color);
    border-style: solid;

    display: grid;
    grid-auto-flow: column;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.card_desc {
    width: 80%;
}
.card span {
    color: red;
}
