
/* Home page */

#home_content {
    display: grid;
    grid-auto-flow: column;
}

#persona {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.bio_text {
    display: block;
    padding: 20px;
    transition: none;
}
.bio_text p { text-indent: 2em; }

.home_btn {
    display: grid;
    grid-auto-flow: column;
}
.home_btn button {
    width: auto;
}

/* Link page */
#link_content {
    display: grid;
    grid-auto-flow: row;
}

#links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    padding: 20px;
}

#links div {
    width: 100%;
}
#links a {
    text-align: center;
    padding: 10px;
    border-style: dotted;

}


/* Project */

.card {
    padding: 20px;
    color: var(--back-color);
    background-color: var(--text-color);
    border-style: solid;

    display: grid;
    grid-auto-flow: column;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.card_desc {
    width: 80%;
}
.card span {
    color: red;
}

/* Gallery */

#Gallery {
    display: grid;
    grid-auto-flow: column;
}

#column1, #column2, #column3 {
    width: 100%;
    min-height: 50px;
}

#Gallery img {
    width: inherit;
}
