/* // Rodrick hates their life. // */

:root {
    --text-color    : #1f0d23;
    --back-color    : #ddd; /*#ddd*/
    --mono          : monospace;

    --btn-back      : var(--text-color);
    --btn-back2     : black; /* #fcf06a */
    --btn-shad      : #AE89C3;

    --grad-color    : black;  /*#110716;*/
    --grad-color2   : #170e22; /*#352833;*/
}

html { scrollbar-color: #eee #000; }
::selection { background: #000000; color: white; }
::-moz-selection { background: #000000; color: white; }
::-webkit-scrollbar-track { background-color: #000; }
::-webkit-scrollbar-thumb { background-color: #eee; }

@font-face {
    font-family: 'OpenDyslexic', sans-serif;
    src: url(../assets/fonts/OpenDyslexic-Regular.otf) format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
    margin: 0;
    font-family: 'Mukta', sans-serif;
    font-size: 1em;
    /*
    background: url('../images/noisetexture.webp'), linear-gradient(0deg, var(--grad-color) 0%, var(--grad-color2) 100%) fixed;
    */
    background: url('../images/texture3.png'), linear-gradient(0deg, var(--grad-color) 0%, var(--grad-color2) 100%) fixed;
    background-attachment: fixed;
    
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

footer {
    color: white;
    opacity: 0.9;
    position: relative;
    text-align: center;
    align-self: start;
    font-size: 0.8em;

    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: black;
}

hr {
    border-style: none;
    border-bottom-style: dotted;
    border-bottom-width: medium;
    border-color: var(--text-color);
    width: 100%;
}

a {
    color: var(--btn-shad);
    text-decoration: underline;
    text-decoration-color: var(--text-color);
}
a:hover {
    color: black;
    text-decoration: overline;
    text-decoration-color: var(--text-color);
}

/* Main */

.main_content {
    color: var(--text-color);
    /*background: linear-gradient(360deg, rgba(17,7,22,0.5) 0%, rgba(64,62,64,0) 100%)*/
    background-color: var(--back-color);
    width: 75%;

    display: grid;
    grid-auto-flow: row;
    margin: 5px auto;
    margin-top: 50px;
    padding: 20px;
    min-height: 20px;

    /*

    box-shadow: 0px -2px 24px 10px #ffffff11;
    -webkit-box-shadow: 0px -2px 24px 10px #ffffff11;
    -moz-box-shadow: 0px -2px 24px 10px #ffffff11;
    */

    -webkit-transition: 0.4s;
    transition: 0.4s;
}

button {
    font-style: lowercase;
    font-family: var(--mono);
    padding: 10px;
    margin: 5px;
    width: 180px;

    color: var(--back-color);
    background-color: var(--btn-back);
    border-style: none;
    border-radius: 5px;

    transition: 0.4s;

    box-shadow: 0px 0px 0px -3px var(--btn-shad);
    -webkit-box-shadow: 0px 0px 0px -3px var(--btn-shad);
    -moz-box-shadow: 0px 0px 0px -3px var(--btn-shad);
}

button:hover {
    background-color: var(--btn-back2);
    /*
    box-shadow: 0px 0px 0px 10px var(--btn-shad);
    -webkit-box-shadow: 0px 0px 0px 10px var(--btn-shad);
    -moz-box-shadow: 0px 0px 0px 10px var(--btn-shad);
    */
}


/* Toggle */

.dyslexic { top: 8px; }
.theme { top: 40px }

.switch {
    background-color: var(--back-color);
    width: 40px;
    height: 18px;

    border-radius: 50px;
    padding: 2px;

    position: fixed;
    right: .5em;
    z-index: 2;
}

.switch::before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: white;
    position: absolute;
    border-radius: 50px;
    transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
    transform-origin: right center;
}

input:checked + .switch:before {
    transform: translateX(120%);
}

/* Home button */

#homebutton {
    z-index: 3;
    position: fixed;
    width: 50px;
    height: 50px;

    left: 10px;
    top: 10px;
    transition: 0.4s;
}
#homebutton:hover {
    transition: 0.4s;
    filter: invert(100%);
}
/*

img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img:hover {
    transition: 0.4s;
    -webkit-filter: none;
    filter: none;
}
*/
