/* The bio....THE BIOOOOOOOOO */

/* Grid crap */

.bio_grid {
    display: grid;
    grid-template-columns: 50% 50%;

}

.bio_quick {
    grid-column: 1;
    grid-row: 1;

    padding: 1em;

    align-self: center;
}

.bio_img {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: flex-end;

    padding: 10px;
}

.bio_bio {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.bio_foot {
    grid-column: 1 / span 2;
    grid-row: 3;
}

/* Avatar */

.bio_avatar_1 {
    width: 14vw;
    height: 14vw;

    background-color: black;

    border-radius: 100px;
    transition: 0.4s;
}

.bio_avatar_2 {
    width: 13vw;
    height: 13vw;

    background-color: var(--purp_bg);

    display: block;
    margin: 0 auto;
    transform: translate(0, 4%);

    border-radius: 100px;
    transition: 0.4s;
}

.bio_avatar_3 {
    width: 12vw;
    height: 12vw;

    background-color: var(--dark_bg);

    display: block;
    margin: 0 auto;
    transform: translate(0, 4%);

    border-radius: 100px;
    transition: 0.4s;
}

.bio_avatar_4 {
    width: 10vw;
    height: 10vw;

    background-color: var(--yell_bg);

    display: block;
    margin: 0 auto;
    transform: translate(0, 10%);

    border-radius: 100px;
    transition: 0.4s;
}

.bio_avatar_1:hover, .bio_avatar_3:hover { background-color: black; border-radius: 15px; }
.bio_avatar_2:hover { background-color: var(--yell_bg); border-radius: 15px; }
.bio_avatar_4:hover { background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(174,137,195,1) 26%, rgba(250,245,251,1) 59%, rgba(252,240,106,1) 100%);; }

/* Quick */

.bio_name {
    font-size: 2em;
    font-family: var(--mono), serif;
    font-weight: bolder;
    letter-spacing: .5em;
}

.bio_info {
    font-family: var(--mono), serif;
    font-size: 0.8em;
}

.bio_title {
    font-family: var(--mono), serif;
    font-weight: bold;
}

/* Bio */

.bio_bio {

}

.bio_f_b {
    display: block;
    margin: 1em auto;
    width: 50%;

}
