/* The bio....THE BIOOOOOOOOO */

.bio_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 50% 10%;
}

.bio_quick {
    grid-column: 1;
    grid-row: 1;
}

.bio_img {
    grid-column: 2;
    grid-row: 1;
}

.bio_bio {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.bio_foot {
    grid-column: 1 / span 2;
    grid-row: 3;
}
