/* Card */

.about_card {
    display: grid;
    grid-auto-flow: column;
    position: relative;
}

/* Avatar Image */

.about_avatar_box {
    position: relative;
    width: 27.5vw;
    height: 27.5vw;
    background-color: var(--light_bg);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    top: 1em;
    left: 1em;
}

.about_outline_box {
    background-color: var(--dark_bg);
    width: 25.5vw;
    height: 25.5vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.about_avatar_img {
    width: 23.5vw;
    height: 23.5vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Bio */

.about_bio {
    position: absolute;
    background-color: var(--dark_bg);
    color: var(--light_bg);
    width: 60vw;
    height: 27.5vw;
    right: 1em;
    top: 1em;
    -webkit-box-shadow: 0px 0px 20px 5px var(--shadow);
    -moz-box-shadow: 0px 0px 20px 5px var(--shadow);
    box-shadow: 0px 0px 20px 5px var(--shadow);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.about_bio_text {
    margin: 1em;
    text-indent: 2em;
    position: relative;
    top: 1em;
}
