
:root {
    --txt_dark  : black; /* var(--txt_reg) */
    --txt_light : white; /* var(--txt_light) */
    --dark_bg   : #f7f7f7; /* var(--dark_bg) */
    --light_bg  : #1b0c23; /* var(--light_bg) */
    --purp_bg   : #AE89C3; /* var(--purp_bg) */
    --yell_bg   : #fcf06a;
    --shadow    : #1b0c2350; /* var(--shadow) */

    --light_l   : #ffffff55;
    --dark_l    : #00000055;
    --purp_d    : #603c74;

    --light_bg_trans  : rgb(255, 255, 255, 0.8); /* var(--light_bg_trans) */
    --purp_bg_trans   : rgb(174, 137, 195, 0.5); /* var(--purp_bg_trans) */


    /* Font */
    --mono      : monospace;
}

::selection { background: var(--dark_l); }
::-moz-selection { background: var(--dark_l); }


/*

    Rodrick hates their life.

*/

@font-face {
    font-family: 'OpenDyslexic', sans-serif;
    src: url(../assets/fonts/OpenDyslexic-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Mukta', sans-serif;
    src: url(../assets/fonts/Mukta-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Merienda';
    src: url(../assets/fonts/Merienda-Regular.ttf) format('ttf');
}

.no_drag { -webkit-user-select: none; user-select: none; }

body {
    margin: 0;
    /*color: var(--txt_light);*/
    font-family: 'Mukta', sans-serif;
    font-size: 1em;
    /*background-image: url('../images/noisetexture.png');*/
    background: url('../images/noisetexture.png'), var(--light_bg);
    background: url('../images/noisetexture.png'), linear-gradient(0deg, rgba(17,7,22,1) 0%, rgba(64,62,64,1) 100%) fixed;
    /*background-color: var(--txt_dark);*/
}

.body {
    display: grid;
    grid-auto-flow: row;
}

footer {
    color: var(--txt_light);
    opacity: 0.5;
    /*position: absolute;

    left: 50%;
    transform: translate(-50%, 0);*/
    position: relative;
    text-align: center;
    align-self: start;
}

/* Markdown Styling */

h1, h2, h3, h4, h5, h6 {
    text-transform: lowercase;
    font-family: var(--mono);
    font-style: italic;
}

h3, h4, h5, h6 { text-decoration: underline; }

p {
    text-indent: 2em;
}

a { color: var(--purp_d); }
a:hover { color: var(--yell_bg); }

hr {
    border-style: none;
    background: linear-gradient(90deg, rgba(17,7,22,0.5) 0%, rgba(252, 240, 106,.5) 50%, rgba(17,7,22,.5) 100%);
    height: 2px;
}

.footnote {}
.reversefootnote {}

button {
    font-style: lowercase;
    font-family: var(--mono), serif;
    padding: 5px;
    margin: 5px;

    background-color: var(--txt_light);
    border-style: none;
    border-radius: 15px;

    transition: 0.4s;

    box-shadow: 5px 11px 0px -3px var(--purp_bg);
    -webkit-box-shadow: 5px 11px 0px -3px var(--purp_bg);
    -moz-box-shadow: 5px 11px 0px -3px var(--purp_bg);
}
button:hover {
    background-color: var(--yell_bg);

    box-shadow: -5px 11px 0px -3px var(--purp_bg);
    -webkit-box-shadow: -5px 11px 0px -3px var(--purp_bg);
    -moz-box-shadow: -5px 11px 0px -3px var(--purp_bg);
}

blockquote {
    /*
    background-color: #aea8b1;
    */

    border-radius: 5px;
}

.language-plaintext {
    background-color: var(--dark_bg);
    padding: 5px;
    border-radius: 5px;
}

/* Table stuff */

table { border-collapse: collapse; }

th {
    background-color: var(--light_bg);
    color: var(--dark_bg);
    padding-left: .5em;
    padding-right: .5em;
    border-left: thin;
    border-right: thin;
    border-width: thin;
    border-color: var(--light_bg);
}
td {
    background-color: var(--shadow);
    padding-right: .5em;
    padding-left: .5em;
    border-style: solid;
    border-width: thin;
    border-color: var(--dark_bg);
}

/* Image stuff */
li img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}
