
:root {
    --txt_dark  : black; /* var(--txt_reg) */
    --txt_light : white; /* var(--txt_light) */
    --dark_bg   : black; /* var(--dark_bg) */
    --light_bg  : white; /* var(--light_bg) */
    --purp_bg   : #AE89C3; /* var(--purp_bg) */
    --shadow    : rgba(255,255,255,0.2); /* var(--shadow) */

    --light_bg_trans  : rgb(255, 255, 255, 0.8); /* var(--light_bg_trans) */
    --purp_bg_trans   : rgb(174, 137, 195, 0.5); /* var(--purp_bg_trans) */
}

@font-face {
    font-family: 'OpenDyslexic-Regular', sans-serif;
    src: url(../assets/fonts/OpenDyslexic-Regular.otf) format('otf');
}

@font-face {
    font-family: 'Mukta', sans-serif;
    src: url(../assets/fonts/Mukta-Regular.otf) format('oft');
}

@font-face {
    font-family: 'Merienda', sans-serif;
    src: url(../assets/fonts/Merienda-Regular.otf) format('oft');
}

.no_drag { user-select: none; -webkit-user-select: none; }

body {
    margin: 0;
    /*color: var(--txt_light);*/
    font-family: 'Mukta', sans-serif;
    background-color: var(--purp_bg);
}

.main_content { margin: 0.5em; }

/* Markdown Styling */

h1, h2, h3, h4, h5, h6 {
    text-transform: lowercase;
    font-family: monospace;
}

p { text-indent: 2em; }

blockquote {
    background-color: var(--shadow);
    padding: 2em;
}

code {
}
