
@import "root.css";
@import "shortcodes.css";

/* - General - */

html { font-size: calc(1rem + (1vw / 5)); }

body {
    background: var(--bg-img) var(--bg-color);
    line-height: 1.4;
	margin: 0;
    transition: 0.4s;
}

main {
    background: var(--main-bg-img) var(--main-bg-color);
    color: var(--main-color);

    width: 65%;
    margin: 1em auto;
    padding: 1em;
    min-height: 20px;

	box-shadow: 0px 0px 12px -2px rgba(31,13,35,0.75);
	-webkit-box-shadow: 0px 0px 12px -2px rgba(31,13,35,0.75);

    -webkit-transition: 0.4s;
    transition: 0.4s;

    border-image: var(--border) 300 / 100px / 1.5em space;
}
@media all and (min-width: 1500px) {
	main { width: 45%; }
}
@media all and (max-width: 800px) {
	main { width: 70%; }
}
@media all and (max-width: 450px) {
	main { padding: .5em; }
}

nav {
    color: var(--main-color);
    width: 45%;
    margin: .5em auto 0px auto;

    display: grid;
    grid-template-columns: 40% 1fr 40%;
    grid-template-rows: 1fr;
    grid-template-areas: left eye right;
    grid-gap: .5em;

    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5em;
}
nav div a {
    background: var(--main-bg-color);
    padding: 1em;
}
nav #eye { transition: 0.4s; }
nav #eye:hover { transition: 0.4s; filter: invert(100%); }

footer {
    min-height: 2em;
    background: var(--main-bg-img) var(--main-bg-color);
    color: var(--main-color);

    width: 30%;
    margin: 2.5em auto;
    padding: 1em;

    line-height: 0.5;
    font-size: 0.8em;
}

@media all and (max-width: 800px) {
    footer, nav { width: 100%; }
}

/* - Element Styling - */

html { scrollbar-color: #eee black; }
::selection { background: var(--accent-color); color: black; }
::-moz-selection { background: var(--accent-color); color: black; }
::-webkit-scrollbar-track { background-color: black; }
::-webkit-scrollbar-thumb { background-color: #eee; }

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

img { width: 100%; }
img.pixel {
    width: calc(88px);
    height: calc(31px);
    display: block;
    margin: 0px auto;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

code {
	background: #C6292955;
	padding: 3px;
}

mark {
	background: var(--q);
	color: white;
	padding: 2px 3px;
}

hr {
	display: block;
    border-style: none;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-color: var(--accent-color);
    width: 50%;
	margin: 1em auto;
}
hr.rat {
    display: block;
    border: none;
    height: 2em;
    width: 90%;

    background-image: url("../img/rat.png");
    background-size: auto 2em;
}

a {
    color: var(--accent-color);
	text-decoration: none;
}
a:hover {
    color: var(--main-color);
    text-decoration: underline var(--main-color) .6px;
}

button {
    text-transform: lowercase;
    font-family: var(--mono);
    padding: 10px;
    margin: 5px;
    width: 180px;

    color: var(--main-bg-color);
    background-color: var(--btn-back);
    border-style: none;
    border-radius: 5px;

    transition: 0.4s;

    box-shadow: 0px 0px 0px -3px var(--btn-shad);
    -webkit-box-shadow: 0px 0px 0px -3px var(--btn-shad);
}

button:hover {
    background-color: var(--btn-back2);
    /*
    box-shadow: 0px 0px 0px 10px var(--btn-shad);
    -webkit-box-shadow: 0px 0px 0px 10px var(--btn-shad);
    */
}

table {
	border: dotted 2px var(--accent-color);
	padding: 10px;
	min-width: 200px;
	max-width: auto;
	margin: 10px auto;
}
th {
	border-bottom: solid 2px var(--accent-color);
}
td {
	width: 50%;
	border-left: solid 1px var(--accent-color);
	padding-left: 5px;
	padding-right: 5px;
	padding: 2px;
}
tfoot td {
	border-top: dotted 2px var(--accent-color);
}

/* - Extras - */

.indent { text-indent: 2em; }
.right { text-align: right; }
.center { text-align: center; }

.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag: none; }

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centeredRows {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*
    This is a general two-column grid;
*/
.two_grid {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "col1 col2";
}
.two_grid .col_1 { grid-area: col1; }
.two_grid .col_2 { grid-area: col2; }
@media only screen and (max-width: 800px) {
    .two_grid { grid-template-areas: "col1 col1" "col2 col2"; }
    .two_grid .col_1 { }
    .two_grid .col_1 { }
}


/* - Animations - */
@keyframes an_shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.scared {
	animation: an_shake .2s linear infinite;
}
.scaredhover:hover {
    animation: an_shake .2s linear infinite;
}
