@font-face {
    font-family: 'Crédible';
    src: local('Crédible'),
    url("../fonts/Crédible-Regular.woff") format("woff");
}


:root {
    --bg-color      : #0B0212; /* #0B0212 */
    --bg-img        : fixed url('../img/texture4.png');

    --main-bg-color : black;
    --main-bg-img   : ;
    --main-color    : white;

    --accent-color  : #D5A1C4; /*#EB2626; */

    --border        : ;/* url('../img/border.png'); */

    --font          : serif;
    --mono          : monospace;

	--t 			: #C6292966;
	--q 			: linear-gradient(0deg, #235250 50%, #23525000 100%); /* linear-gradient(0deg, #C62929 50%, #C6292900 100%); */

	--btn-back      : var(--main-color);
	--btn-back2     : black;
	--btn-shad      : #320d46;
	--btn-shad2     : #AE89C3;

	--grad-color    : #04080D;
	--grad-color2   : #322D57;

	--dark 			: #06040E;
}
