/* Card */

.about_card {
    display: grid;
    grid-auto-flow: row;
    position: relative;
}

.about_width { grid-template-rows: 2em 1fr 2em; width: 55%; }

/* Avatar Image */


.about_avatar_box {
    width: 15.5vw;
    height: 15.5vw;
    background-color: var(--light_bg);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    top: 1em;
    left: 1em;

    border-radius: 50%;

    margin: 0 auto;
}

.about_avatar_box:hover { background-color: var(--yell_bg); }

.about_outline_box {
    width: 13.5vw;
    height: 13.5vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    background-color: var(--dark_bg);

    border-radius: 50%;
}

.about_outline_box:hover { background-color: var(--light_bg); }

.about_avatar_img {
    width: 11.5vw;
    height: 11.5vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;

    background-color: var(--yell_bg);

    transition: 0.4s;
}

.about_avatar_img:hover { background-color: var(--purp_bg); }


/* Bio */

.about_bio_text {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: var(--light_bg);

    text-indent: 2em;
    position: relative;
    padding-top: 1em;
}

/* Navigation Buttons */

.about_bt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    padding-top: 1em;
}
