/* WAS/WERE */

body {
    background: url('./waswere1.png') #140101;
}

a { color: #FF78FB; }
a:hover { color: #DA1312; }

.main_content {
    background: black;
    color: #c6bce1;
    border: double #333 1.34px;
    width: 75%;

	display: grid;
	grid-auto-flow: row;
	margin: 5px auto;
	margin-top: 60px;
	padding: 20px;
	min-height: 20px;

	box-shadow: 0px 0px 12px -2px rgba(31,13,35,0.75);
	-webkit-box-shadow: 0px 0px 12px -2px rgba(31,13,35,0.75);
	-moz-box-shadow: 0px 0px 12px -2px rgba(31,13,35,0.75);

	-webkit-transition: 0.4s;
	transition: 0.4s;
}

@media only screen and (max-width: 625px) {
	.main_content { width: 90% !important; }
}
@media only screen and (max-width: 300px) {
	.main_content {
		width: 100% !important;
		margin: 0px;
		margin-top: 60px;
	}
}

.main_content img {
    width: 100%;
}

marquee img {
    height: 300px;
    width: 630px !important;
}

details span { color: #DA1312; padding: 5px;}
details { border: solid #333 1.34px; padding: 7px; }

/*.game_frame { border: double #000 6px; padding: 10px; border-radius: 7px; }*/
ul{ list-style-type:'🩸 '; }
