---
layout: page
---

<div class="bio_grid">

    <div class="bio_quick">
        <span class="bio_name">{{ page.person }}</span><br>
        <span class="bio_info">| {{ page.pronouns }} | {{ page.zodiac }} |<br>| {{ page.stuff }} | {{ page.stuff2 }} |</span><br>
        <span class="bio_title">{{ page.subtitle }}</span>
    </div>

    <div class="bio_img">
        <div class="bio_avatar_1"><div class="bio_avatar_2"><div class="bio_avatar_3"><img class="bio_avatar_4" src="{{ site.author_avatar }}" alt="Rodrick's Persona"></div></div></div>

    </div>

    <div class="bio_bio">
        {{ content }}
    </div>

    <div class="bio_foot">
        <button class="bio_f_b">find me</button>
    </div>

</div>
